<template>
  <Popup :title="getTitle()" ref="internalPopup">
    <form @submit="addEditTask" class="body">
      <div class="content">
        <label>Description:</label>
        <textarea type="text" v-model="description"></textarea>
        <label>Type:</label>
        <div class="radio-option">
          <input type="radio" value="default" v-model="type" />
          <span>default</span>
        </div>
        <div class="radio-option">
          <input type="radio" value="bugfix" v-model="type" />
          <span>bugfix</span>
        </div>
        <div class="radio-option">
          <input type="radio" value="feature" v-model="type" />
          <span>feature</span>
        </div>
      </div>
      <div class="buttons">
        <button type="button" @click.stop="close()">Cancel</button>
        <button type="submit" :disabled="!description">Save</button>
      </div>
    </form>
  </Popup>
</template>

<script>
import Popup from "./Popup.vue";

export default {
  name: "AddEditTaskPopup",
  components: {
    Popup
  },
  props: [],
  data() {
    return {
      id: null,
      taskIndex: -1,
      mode: "add",
      description: null,
      type: "default",
      status: "waiting"
    };
  },
  computed: {},
  methods: {
    open(mode, taskIndex) {
      this.taskIndex = taskIndex;
      this.mode = mode;
      if (this.mode === "edit") {
        let task = this.$store.state.tasks[taskIndex];
        this.id = task.id;
        this.description = task.desc;
        this.status = task.status;
        this.type = task.type;
      } else {
        this.id = null;
        this.taskIndex = -1;
        this.mode = "add";
        this.description = null;
        this.type = "default";
        this.status = "waiting";
      }
      this.$refs["internalPopup"].open();
    },
    close() {
      this.$refs["internalPopup"].close();
    },
    getTitle() {
      return this.mode === "add" ? "Add New Task" : "Edit Task";
    },
    addEditTask(event) {
      event.preventDefault();
      let task = {
        id: this.id || parseInt(new Date().getTime()),
        desc: this.description,
        status: this.status,
        type: this.type
      };
      if (this.mode === "add") {
        this.$store.dispatch("addNewTask", task);
      } else {
        this.$store.dispatch("editTask", { taskIndex: this.taskIndex, task });
      }
      this.close();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.curtain {
  .popup {
    width: 300px;
    .content {
      padding: 20px 10px;
      label {
        display: block;
        text-align: left;
        padding: 10px 0;
      }
      textarea {
        min-height: 100px;
        width: 100%;
      }
      .radio-option {
        display: flex;
      }
    }
  }
}
</style>
