<template>
  <div class="board">
    <Column status="waiting" :tasks="waitingTasks"></Column>
    <Column status="in progress" :tasks="inProgressTasks"></Column>
    <Column status="done" :tasks="doneTasks"></Column>
  </div>
</template>

<script>
import Column from "./Column.vue";

export default {
  name: "Board",
  components: {
    Column
  },
  computed: {
    waitingTasks() {
      return this.$store.getters.getWaitingTasks;
    },
    inProgressTasks() {
      return this.$store.getters.getInProgressTasks;
    },
    doneTasks() {
      return this.$store.getters.getDoneTasks;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.board {
  position: relative;
  top: 100px;
  width: 100vw;
  max-width: 100%;
  min-height: calc( 100vh - 210px );
  margin: 0;
  padding: 0;
  display: flex;
}
</style>
