<template>
  <DefaultTask :task="task"></DefaultTask>
</template>


<script>
import DefaultTask from "./DefaultTask.vue";

export default {
  name: "BugfixTask",
  components: {
    DefaultTask
  },
  props: ["task"],
  computed: {},
  methods: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.task {
  border: solid 1px #ee1717;
  background-color: #dc6e6e;
}
</style>
