<template>
  <div class="column" @drop="onDrop" @dragover.prevent>
    <div class="label">
      <h1>{{status}}</h1>
    </div>
    <div class="taskList">
      <div v-for="task in tasks" v-bind:key="task.id">
        <DefaultTask v-if="task.type === 'default'" :task="task"></DefaultTask>
        <BugfixTask v-if="task.type === 'bugfix'" :task="task"></BugfixTask>
        <FeatureTask v-if="task.type === 'feature'" :task="task"></FeatureTask>
      </div>
    </div>
  </div>
</template>

<script>
import DefaultTask from "./DefaultTask.vue";
import BugfixTask from "./BugfixTask.vue";
import FeatureTask from "./FeatureTask.vue";

export default {
  name: "Column",
  components: {
    DefaultTask,
    BugfixTask,
    FeatureTask
  },
  props: ["status", "tasks"],
  computed: {},
  methods: {
    onDrop(event) {
      event.preventDefault();
      this.$store.dispatch("changeTaskStatus", {
        index: event.dataTransfer.getData("taskIndex"),
        status: this.status
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
$mainColumnColor: #4ab3dc;

.column {
  flex-basis: (100%/3);
  .label {
    background-color: $mainColumnColor;
    position: fixed;
    width: (100%/3);
    z-index: 1;
    h1 {
      text-transform: capitalize;
    }
  }
  .taskList {
    top: 80px;
    height: 100%;
    padding-top: 20px;
    position: relative;
    border-right: solid 2px $mainColumnColor;
    .task {
      margin: 20px;
    }
  }
}
</style>
