<template>
  <Popup title="Confirm Task Delete" ref="internalPopup">
    <div class="body">
      <div class="content">Are you sure you want to delete this task ?</div>
      <div class="buttons">
        <button type="button" @click.stop="close()">No</button>
        <button type="button" @click.stop="removeTask()">Yes</button>
      </div>
    </div>
  </Popup>
</template>

<script>
import Popup from "./Popup.vue";

export default {
  name: "ConfirmPopup",
  components: {
    Popup
  },
  props: [],
  data() {
    return {
      taskIndex: -1
    };
  },
  computed: {},
  methods: {
    open(taskIndex) {
      this.$refs["internalPopup"].open();
      this.taskIndex = taskIndex;
    },
    close() {
      this.$refs["internalPopup"].close();
    },
    removeTask() {
      this.$store.dispatch("removeTask", this.taskIndex);
      this.close();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
.curtain {
  .popup {
    .content {
      padding: 20px 10px;
    }
  }
}
</style>
