<template>
  <div class="task" draggable="true" @dragstart="onDrag" @dragend="onDragEnd" ref="taskElement">
    <div class="header">
      <div class="label">{{task.type}}</div>
      <div class="menu">
        <i class="fas fa-edit" @click="editTask()"></i>
        <i class="fas fa-trash-alt" @click="removeTask()"></i>
      </div>
    </div>
    <div class="desc">{{task.desc}}</div>
  </div>
</template>

<script>
import { EventBus } from "./../eventBus/EventBus";

export default {
  name: "DefaultTask",
  props: ["task"],
  computed: {},
  methods: {
    onDrag(event) {
      event.dataTransfer.setData(
        "taskIndex",
        this.$store.state.tasks.indexOf(this.task)
      );
      setTimeout(() => {
        this.$refs["taskElement"].style.display = "none";
      }, 0);
    },
    onDragEnd() {
      setTimeout(() => {
        this.$refs["taskElement"].style.display = "block";
      }, 0);
    },
    removeTask() {
      EventBus.$emit("removeTask", this.$store.state.tasks.indexOf(this.task));
    },
    editTask() {
      EventBus.$emit("editTask", this.$store.state.tasks.indexOf(this.task));
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.task {
  border: solid 1px #5c5b5b;
  background-color: rgba(255, 255, 255, 0.883);
  cursor: pointer;
  .header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid 1px #5c5b5b;
    .label {
      font-weight: 900;
      text-transform: uppercase;
    }
    .menu {
      i {
        font-size: 18px;
        transition: 0.3s;
        &:hover {
          color: #5aa5eb;
        }
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  }
  .desc {
    padding: 50px 10px;
  }
}
</style>
