<template>
  <DefaultTask :task="task"></DefaultTask>
</template>


<script>
import DefaultTask from "./DefaultTask.vue";

export default {
  name: "FeatureTask",
  components: {
    DefaultTask
  },
  props: ["task"],
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.task {
  border: solid 1px #63b167;
  background-color: #ace1af;
}
</style>
