<template>
  <div class="header">
    <h1>Vuex DND Task Manager</h1>
    <div class="buttons">
      <button type="button" @click="addNewTask()">Add new Task</button>
      <button type="button" @click="reinitDefaultTasks()">Reinit default tasks</button>
    </div>
  </div>
</template>

<script>
import { EventBus } from "./../eventBus/EventBus";

export default {
  name: "Header",
  methods: {
      addNewTask() {
          EventBus.$emit('addNewTask');
      },
      reinitDefaultTasks() {
          this.$store.dispatch('reinitDefaultTasks');
      }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../scss/_mixins.scss";

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  max-width: 100%;
  background-color: #2cdcab;
  height: 100px;
  display: flex;
  justify-content: space-around;
  color: #fff;
  z-index: 1;
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        height: 50%;
        @include button-style;
        &:first-child {
            margin-right: 20px;
        }
    }
  }
}
</style>
