<template>
  <div class="curtain" v-if="opened" @click="close()">
    <div class="popup" @click.stop>
      <div class="top">
        <div class="title">
          {{title}}
          <div class="close">
            <i class="fas fa-times" @click.stop="close()"></i>
          </div>
        </div>
      </div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: "Popup",
  props: ["title"],
  data() {
    return {
      opened: false
    };
  },
  computed: {},
  methods: {
    open() {
      this.opened = true;
    },
    close() {
      this.opened = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../scss/_mixins.scss";

.curtain {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
  .popup {
    position: absolute;
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #fff;
    .top {
      position: relative;
      border-bottom: solid 1px #000;
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: 900;
        position: relative;
        padding: 20px;
        .close {
          position: absolute;
          top: 5px;
          right: 5px;
          i {
            cursor: pointer;
            font-size: 40px;
            margin: 0;
            transition: 0.3s;
            &:hover {
              color: #5aa5eb;
            }
          }
        }
      }
    }
  }
  .buttons {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    button {
      @include button-style;
    }
  }
}
</style>
