<template>
  <div id="app">
    <Header></Header>
    <Board></Board>
    <AddEditTaskPopup ref="addEditTaskPopup"></AddEditTaskPopup>
    <ConfirmPopup ref="confirmPopup"></ConfirmPopup>
  </div>
</template>

<script>
import Board from "./components/Board.vue";
import Header from "./components/Header.vue";
import AddEditTaskPopup from "./components/AddEditTaskPopup.vue";
import ConfirmPopup from "./components/ConfirmPopup.vue";
import { EventBus } from "./eventBus/EventBus";

export default {
  name: "app",
  components: {
    Header,
    Board,
    AddEditTaskPopup,
    ConfirmPopup
  },
  created() {
    this.$store.dispatch("loadTasks");
    EventBus.$on("addNewTask", () => {
      this.$refs["addEditTaskPopup"].open("add");
    });
    EventBus.$on("editTask", taskIndex => {
      this.$refs["addEditTaskPopup"].open("edit", taskIndex);
    });
    EventBus.$on("removeTask", taskIndex => {
      this.$refs["confirmPopup"].open(taskIndex);
    });
  }
};
</script>

<style lang="scss">
body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
