@mixin button-style {
    font-weight: 900;
    padding: 10px;
    color: #2c3e50;
    background-color: #fff;
    border: solid 1px #a9a9a9;
    outline: none;
    transition: 0.3s;

    &:hover {
        cursor: pointer;
        border: solid 1px #1c71c0;
        background-color: #5aa5eb;
    }

    &:disabled {
        cursor: default;
        background-color:#a9a9a9;
        border: solid 1px #a9a9a9;
    }
}